.home{
    display: grid;
    grid-template-areas:
        "banner"
        "menuLateral"
        "conteudo"
        "rodape";
    
    grid-template-columns: 250px 650px;
    grid-template-rows: auto auto auto ;

    background-color: var(--cinza);
}


.quemsomos{
    grid-area: conteudo;
    grid-column: 2/2;
    grid-row: 2/2;

    background-color: var(--verm);
    margin: 2.5em;
    border-radius: 77px 0;
    box-shadow: 8px 0px 8px -8px rgb(0 0 0 / 75%);
}

.quemsomos__conteudo{
    display: grid;
    grid-template-areas: 
        "titulo"
        "texto"
        "imagemQuem";
        grid-template-columns: 205px 50px 20px 300px 20px;
        grid-template-rows: 20px 111px 250px 137px 20px;
    padding:2em;

    
}

.quemsomos__conteudo__titulo{
    grid-area: texto;
    grid-column: 1/1;
    grid-row: 1/2;
    color: var(--cinza);

    font-size: 36px;
    margin-bottom: 2%;

}

.quemsomos__conteudo__texto{
    grid-area: texto;
    grid-column: 1/1;
    grid-row: 3/3;
    color: var(--cinza);
}

.quemsomos__conteudo__texto p{
    margin-top: 8em;
}

.quemsomos__conteudo__img{
    grid-area: imagemQuem;
    background: url("../../../assents/img/banners/destaque3.1.jpg") center/ cover no-repeat;
    grid-column: 4/5;
    grid-row: 2/5;
    box-shadow: 8px 0px 8px -8px rgb(0 0 0 / 75%);
   
}


/*btn*/

.quemsomos__btn{
    grid-area: texto;
    grid-column: 1/1;
    grid-row: 5/5;
    height: 87px;
    transition: ease 0.3s;
}

.quemsomos__btn div a{
    text-decoration: none;
    color: var(--cinza);
    display: inherit;
}

.quemsomos__btn div a p{
    width: 136px;
    margin-left: 4%;
    margin-top: 5%;
}

.quemsomos__btn div{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--preto);
    color: var(--cinza);

    width: 261px;
    height: 40px;
    border-radius: 0 20px;
    
    transition: ease 0.3s;
    box-shadow: 3px 10px 8px -8px rgb(0 0 0 / 75%);
   
    margin-left: 13%;
    transition: ease 0.3s;

}


.quemsomos__btn img{
    width: 30px;
    margin-top: 3%;
    margin-right: 2%;
  
    color: white;

    transition: ease 0.3s;
    
}

.quemsomos__btn div:hover{

    border-radius:20px;

    transition: ease 0.3s;

    transform: scale(1.05);

    cursor: pointer;
   
}

.quemsomos__btn div:hover img{
     transform: scale(1.05);

     transition: ease 0.3s;
}
