.formulario{
    display: grid;
    grid-template-areas: 
        "formulario";
    grid-template-columns: 100%;
    grid-template-rows: 800px;

    grid-area: conteudo;
    grid-row: 2/2;
    grid-column: 2/2;
    margin-top: 1%;
    padding: 2em;
}

.formulario__img{
    grid-area: conteudo;
    background: url("/../../assents/img/banners/bannerform.png");
    background-attachment:fixed;
    background-size: unset;
    background-position-x: right;
    background-position-y: center;
    
    grid-area: formulario;
    grid-row: 1/1;
    grid-column: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

 



.formulario__form{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario__form label{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2%;
}

.formulario__titulo p{
    color: white;
    font-size: 36px;

}

.formulario__form input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
    padding: 4px;
    margin-bottom: 9%;
}

.formulario__form textarea{
	width: 250px;
	height: 250px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
    transition:  .35s ease-in-out;
    resize: none;
}




.formulario__form input[type=number]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
    transition:  .35s ease-in-out;
}


.formulario__form input[type=text]:focus{
	outline: none;
    border: 1px solid rgba(255,255,255,0.9);
    width: 300px;
    transition:  .35s ease-in-out;
}




::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}