.formulario{
    margin-left: 250px;
    
 }
 
 .formulario__img{
     background: url("../../../assents/img/banners/bannerform.png");
     background-attachment:fixed;
     background-size: unset;
     background-position-x: right;
     background-position-y: center;

 }
 
 
 .formulario__form{
  
    text-align: center;
    padding-bottom: 39px;
 }
 
 .formulario__form label{
     font-size: 16px;
     font-weight: 400;
     color: #fff;
     margin-right: 2%;
     
 }
 
 .formulario__titulo p{
     color: white;
     font-size: 36px;
     text-align: center;
    padding-top: 3%;
    margin-bottom: 2%;
 
 }
 
 .formulario__form input[type=text]{
     width: 250px;
     height: 30px;
     background: transparent;
     border: 1px solid rgba(255,255,255,0.6);
     border-radius: 2px;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     padding: 4px;
     margin: 2% 0 5% 0;
 }
 
 .formulario__form input[type=number]{
     width: 250px;
     height: 30px;
     background: transparent;
     border: 1px solid rgba(255,255,255,0.6);
     border-radius: 2px;
     color: #fff;
     font-family: 'Exo', sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding: 4px;
     margin-top: 10px;
     transition:  .35s ease-in-out;
 }
 
 
 .formulario__form input[type=text]:focus{
     outline: none;
     border: 1px solid rgba(255,255,255,0.9);
     width: 300px;
     transition:  .35s ease-in-out;
 }
 
 .formulario__form textarea{
	width: 250px;
	height: 250px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
    transition:  .35s ease-in-out;
    resize: none;
}
.formulario__form input[type=button] {
    width: 178px;
    height: 35px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    transition:  .35s ease-in-out;
}
 .formulario__form input[type=button]:hover{
	transform: scale(1.05);
    transition:  .35s ease-in-out;
    background: var(--cinza);
    color: var(--preto);
}
 
 

 
 ::-webkit-input-placeholder{
    color: rgba(255,255,255,0.6);
 }
 
 ::-moz-input-placeholder{
    color: rgba(255,255,255,0.6);
 }

