.destaque{
    display:grid;

    grid-template-areas:
        "titulo"
        "cards"
        "botao";
    
    grid-template-columns: 100% ;
    grid-template-rows: 189px  auto 50px ;

}

.destaque__titulo{
    grid-area: titulo;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    align-items: center;
}

.destaque__titulo p{
    font-size: 50px;
    text-align: center;
    margin-top:2%
    
}
.destaque__conteudo{
    grid-area: cards;
    grid-column: 1 / 1;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns:calc(50% - 1em) calc(50% - 1em);

    grid-gap: 2em;

   
}

.destaque__cards{
    display: grid;
    grid-template-areas: 
        "imagemHam"
        "nomeHamb"
        "descricaoHamb";
    
        grid-template-columns: 309px 24px 241px;
        grid-template-rows: 80px 320px 200px;
    margin: 2%;
    margin-bottom: 10%;
}

.destaque__conteudo .destaque__cards:nth-child(1) .destaque__img{
    grid-area: imagemHam;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    
    background: url("../../assents/img/banners/destaque1.jpg")  center / cover no-repeat;
    margin-left: 7%;
    box-shadow: 10px 8px 8px -8px rgb(0 0 0 / 75%);

}




.destaque__conteudo .destaque__cards:nth-child(2) .destaque__img{
    grid-area: imagemHam;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    
    background: url("../../assents/img/banners/destaque2.1.jpg")  center / cover no-repeat;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    margin-left: 7%;
    box-shadow: -8px 0px 8px -8px rgb(0 0 0 / 75%)
}





.destaque__conteudo .destaque__cards:nth-child(3) .destaque__img{
    grid-area: imagemHam;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    margin-left: 7%;
    background: url("../../assents/img/banners/destaque3.1.jpg")  center / cover no-repeat;
    box-shadow: 10px 8px 8px -8px rgb(0 0 0 / 75%);
}


.destaque__conteudo .destaque__cards:nth-child(3) {
    margin-left:54%
}


.destaque__cards__titulo{
    grid-area: nomeHamb;
    grid-column: 2 / 2;
    grid-row: 2 / 2;


}

.destaque__cards__titulo p{
    color: var(--cinza);
    font-size: 50px;
    margin-left: -100px;
    background: var(--verde);
    width: 303px;
}

.destaque__cards__descricao{
    grid-area: descricaoHamb;
    grid-column: 3 /3;
    grid-row: 3 / 3;   
    color: var(--preto);
}

.destaque__conteudo .destaque__cards:nth-child(2) .destaque__cards__descricao{
    grid-area: descricaoHamb;
    grid-column: 1 /1;
    grid-row: 3 / 3;   
    color:var(--preto);;
    padding-left: 19%;
    margin-left: 7%;
}


.destaque__cards__descricao p{
    font-size: 17px;
}



.destaque__btn{
    grid-area: botao;
    grid-column: 1 / 1;
    grid-row: 3/ 3;

   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}

.destaque__btn a{
    text-decoration: none;
}

.destaque__btn div{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--verm);
    color: var(--cinza);

    width: 250px;
    border-radius: 0 20px;
    transition: ease 0.3s;

    box-shadow: 3px 10px 8px -8px rgb(0 0 0 / 75%);
}

.cardapio__img:hover{
    transform: scale(1.05);
}

.cardapio__img{
    box-shadow: 9px 8px 8px -8px rgb(0 0 0 / 75%);
}
.destaque__btn img{
    width: 30px;
    grid-area: botao;
    
    grid-column: 1 / 1;
    grid-row: 3/ 3;
    display: flex;

    color: white;

    margin-right: 3%;

    transition: ease 0.3s;
    
}

.destaque__btn div:hover{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--verm);
    color: var(--cinza);
  

    width: 250px;
    border-radius:20px;

    transition: ease 0.3s;

    transform: scale(1.05);

    cursor: pointer;
   
}

.destaque__btn div:hover img{
     transform: scale(1.05);

     transition: ease 0.3s;
}