.destaques{
    margin: auto;
    width: 650px;
    margin-top: 7%;
}


.destaques__card{
    width: 650px;
    height: 578px;
    margin-left: 18%;
    width: 84%;
}

.destaques__img{
    
    width: 270px;
    height: 470px;
    margin: 0 8%;

    transition: ease-in 0.5s;
}

.destaques .destaques__card:nth-child(1) .destaques__img{
    
    background: url("/../../assents/img/banners/destaque1.jpg")  center / cover no-repeat;
  
}

.destaques .destaques__card:nth-child(2) .destaques__img{
    
    background: url("/../../assents/img/banners/destaque2.1.jpg")  center / cover no-repeat;
  
}
.destaques .destaques__card:nth-child(3) .destaques__img{
    
    background: url("/../../assents/img/banners/destaque3.jpg")  center / cover no-repeat;

}

.destaques__nome{
    background: var(--verde);
    font-size: 28px;
    color: #c6d0d9;

    text-align: center;  
    height: 6%;
    width: 319px;

    position: relative;
    bottom: 380px;
    left: 189px;

}


.destaques__descricao{
    position: relative;
    bottom: 241px;
    left: 415px;
    width: 175px;
}


/*btn*/

.destaque__btn{
    height: 87px;
}

.destaque__btn a{
    text-decoration: none;
}

.destaque__btn div{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--verm);
    color: var(--cinza);

    width: 261px;
    height: 40px;
    border-radius: 0 20px;
    
    transition: ease 0.3s;
    box-shadow: 3px 10px 8px -8px rgb(0 0 0 / 75%);
    margin: auto;
    
    margin-top: 2%;
}


.destaque__btn img{
    width: 30px;
    margin-top: 3%;
    margin-right: 2%;
  
    color: white;

    transition: ease 0.3s;
    
}

.destaque__btn div:hover{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--verm);
    color: var(--cinza);
  

    width: 250px;
    border-radius:20px;

    transition: ease 0.3s;

    transform: scale(1.05);

    cursor: pointer;
   
}

.destaque__btn div:hover img{
     transform: scale(1.05);

     transition: ease 0.3s;
}



@media screen and (max-width: 1615px){
 
    .destaques__descricao{
        left: 387px;
    }
    .destaque__btn div{
        
        margin-left:46%;
    }
}

@media screen and (max-width: 870px){
 
    .destaque__btn div{
        
        margin-left:46%;
    }

    .destaques__descricao {
        left: 378px;
    }
}