:root{
    --preto: #212126;
    --verm: #8d3533;
    --cinza: #c6d0d9;
    --verde: #107361;
  
}

body{
    margin: 0;
}

.site{
    width: 100%;
    height: auto;
    background-color:  var(--cinza);
    position: relative;
    z-index: 1;
}

.menu{
    background-color: var(--preto);
    width: 18%;;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  
    z-index: 1;
}

.conteudo{
   
    width: calc(100% - 18%);
    height: auto;
    margin-left: 18% ;

    background-color:var(--cinza);

}

.rodape{
    width: 900px;
    background-color: var(--verm);
    z-index: 1;
    position: relative;
  
}

.titulo{
    font-size: 2em;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    background: var(--verm);
    color: var(--cinza);

    width: 74%;
    height: 80px;
    margin: auto;
  
    border-radius: 1px 42px;
    box-shadow: 3px 8px 8px -8px rgb(0 0 0 / 75%);
    margin-bottom: 7%;
}
