.banner__img{
    background: url(../../../assents/img/banners/banner1-branco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 233px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-y: center;
}


.banner__titulo{
    font-size: 50px;
    color: var(--verde);
    height: 0px;
    margin-top: 9%;
}

.banner__subtitulo{
    font-size: 30px;
    color:var(--verm);
    margin: 16%;
}

