.rodape{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30vh;
    color: white;

    background: url("/../../assents/img/banners/banner1-preto.jpg") center / cover no-repeat;
   
    width: 900px;
}

.direitos{
    margin-top: 20%;
}