
.calculator{

    width: 364px;
    margin: auto;
   
    display: grid;

    grid-template-areas: 
        "screen"
        "number"
        "operators";

    grid-template-columns: 210px 70px 84px;
    grid-template-rows: 68px 70px 70px 70px;
}

.calculator_screen{
    grid-area: screen;
    grid-column: 1 / 4;
    grid-row: 1 / 1;

}

.calculator_btns_number{
    grid-area: number;
    grid-column: 1 / 4;
    grid-row: 2 / 6; 

}

.calculator_btns_operators{
    grid-area: operators;
    grid-column:  2/ 4;
    grid-row: 2 / 6; 

}