.home{

    margin: 0;
    background-color: var(--cinza);
}
.quemsomos{
    
    margin: 2% 0 2% 295px;
    background-color: var(--verm);

    width: 560px;  
    height: 600px;
   
    border-radius: 77px 0;
    box-shadow: 8px 0px 8px -8px rgb(0 0 0 / 75%);
}

.quemsomos__conteudo {
    height: 150px;
}

.quemsomos__conteudo__titulo{
    color: var(--cinza);

    font-size: 36px;
    position:relative;
    top: 32px;
    left: 23px;
    
    padding: 0 9em 0 0;

}

.quemsomos__conteudo__texto{
  
    color: var(--cinza);
}

.quemsomos__conteudo__texto p{
    margin: 9em 20em 0 2em;
}

.quemsomos__conteudo__img{
    height: 500px;
    width: 300px;
    background: url(../../../assents/img/banners/destaque3.1.jpg) center/ cover no-repeat;
    box-shadow: 8px 0px 8px -8px rgb(0 0 0 / 75%);

    position: relative;
    top: -380px;
    left: 293px;
   
}

/*btn*/

.destaque__btn {
    height: 87px;
    width: 262px;
    margin-left: 33%;
    position: relative;
    bottom: 366px;
}

.destaque__btn div a{
    text-decoration: none;
    color: var(--cinza);
    display: -webkit-inline-box;
}

.destaque__btn div a p {
    text-decoration: none;
    color: var(--cinza);
    margin: 5% 0 0 36%;
    width: 150px;
}

.destaque__btn div{

    
    background-color: var(--preto);
    color: var(--cinza);

    width: 261px;
    height: 40px;
    border-radius: 0 20px;
    
    transition: ease 0.3s;
    box-shadow: 3px 10px 8px -8px rgb(0 0 0 / 75%);
    margin: auto;
    
    margin-top: 2%;
}


.destaque__btn img{
    width: 30px;
    margin: 4% 25%;
  
    color: white;

    transition: ease 0.3s;
    
}

.destaque__btn div:hover{
 

    width: 250px;
    border-radius:20px;

    transition: ease 0.3s;

    transform: scale(1.05);

    cursor: pointer;
   
}

.destaque__btn div:hover img{
     transform: scale(1.05);

     transition: ease 0.3s;
}
