:root{
    --preto: #212126;
    --verm: #8d3533;
    --cinza: #c6d0d9;
    --verde: #107361;
  
}

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/* font-family: 'Lato', sans-serif; --fonte texto
   font-family: 'Bungee Inline', cursive; -- fonte do banner*/ 

body{
    font-family: 'Lato', sans-serif;
}


.centralizar{ 
	max-width: 900px;   
	margin: 0 auto; 
	width: 100%; 
}


.home{
    display: grid;
    grid-template-areas:
        "banner"
        "menuLateral"
        "conteudo"
        "rodape";
    
    grid-template-columns: 250px 650px;
    grid-template-rows: auto auto auto ;

    background-color: var(--cinza);
}

.banner{
    grid-area: banner;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    font-family: 'Bungee Inline', cursive; 
}


.menulateral{
    grid-area: menuLateral;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
 
}

.destaque{
    grid-area: conteudo;
    grid-column: 2 / 2;
    grid-row: 2 / 4;
   background: var(--amar);

   
}

.rodape{
    grid-area: rodape;
    grid-column: 1 / 5;
    grid-row:  4/ 4;    
    background: var(--preto); 
}


.titulo{
    font-size: 2em;
    font-family: 'Bungee Inline', cursive;
    text-align: center;

    background: var(--verm);
    color: var(--cinza);

    margin: auto;
    width: 460px;
    height: 80px;

    margin-top: 10%;
   

    border-radius: 1px 42px;

}

.titulo p{
    margin: 0;
}